.pdf {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #000;
    line-height: 1.6em;
    margin: 0;
    word-wrap: break-word;
    max-width: 550px;
    font-size: 12px;
}

h3 {
    font-size: 12px;
}

p {}

.sectionhead {
    /* font-size: 14px; */
}

#outer {
    padding: 72pt 72pt 72pt 72pt;
    border: 1px solid #000;
    margin: 0;
    width: 900px;
}

.paragraphs {
    display: inline-table;
}

.field {
    font-weight: bold;
}

