.grouping {
    width: 33%;
    margin: auto;
    border: #79954B 5px solid;
    border-radius: 25px;
    margin-bottom: 1%;
}

legend {
    font-size: 24px;
}

.row {
    display: flex;
}

.pair {
    padding: 1%;
}

h1 {
    text-align: center;
}

input {
    padding-left: 1%;
}

.columns {
    display: flex;
}

.logo {
    width: 2.5%;
}

.page {
    background-color: #333437;
    color: #ffffff;
    box-sizing: content-box;
    font-family: sans-serif;
}

.header {
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: #000000;
    background-color: #DCB82E;
    width: 100%;
    padding: 15px 0 15px 25px;
    margin-bottom: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
