html {
    width: 100%;
}

.pdf {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 0, 0);
    line-height: 1.6em;
    margin: 0;
    word-wrap: normal;
    max-width: 550px;
    font-size: 12px;
}

.logo {
    width: 2.5%;
}

.header {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: #000000;
    background-color: #DCB82E;
    width: 100%;
    padding: 15px 0 15px 25px;
    margin-bottom: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.accordion {
    background-color: #79954B;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 20px;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 25px;
}

.active, .accordion:hover {
    background-color: #6b7c35;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 15px;
}

.panel {
    padding: 0px 35px 0px 0px;
    width: 80%;
    text-align: left;
    background-color: #7ea351;
    color: #ffffff;
    margin-left: 5%;
    display: none;
    overflow: hidden;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-family: sans-serif;
}

.accordion:after {
    content: '\25BC';
    font-size: 24px;
    vertical-align: middle;
    color: #ffffff;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\25B2";
    color: #ffffff;
}

#wrapper {
    background-color: #333437;
    color: #ffffff;
    box-sizing: content-box;
}

#btn {
    position: absolute;
    right: 80px;
    cursor: pointer;
    font-size: 25px;
    background-color: #333437;
    border: none;
}

.download {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.download:hover{
    box-shadow: 0 0 0px 2px #ffffff;
}

#inputs {
    width: 45%;
    float: left;
    margin-left: 5%;
    position: relative;
}


#viewer {
    float: left;
    padding-bottom: 100px;
}

h3 {
    font-size: 14px;
}

#outer {
    padding: 75px 90px 75px 90px;
    border: 5px inset #8CB45A;
    background-color: rgb(255, 255, 255);
    margin: 0;
    width: 600px;
}

p {
    display: inline-flexbox;
}

.trialscore {
    font-weight: bold;
}

.trialString {
    font-style: italic;
}

.recall {
    font-weight: bold;
}

.recallString {
    font-style: italic;
}

.recognition {
    font-weight: bold;
}

.recognitionString {
    font-style: italic;
}

#capitalize {
    text-transform: capitalize;
}

.traila {
    font-weight: bold;
}

.trailb {
    font-weight: bold;
}

.recognition {
    font-weight: bold;
}

.digitspan {
    font-weight: bold;
}

.coding {
    font-weight: bold;
}

.vocab {
    font-weight: bold;
}

.vocabString {
    font-style: italic;
}

.blockpatterns {
    font-weight: bold;
}

.blockString {
    font-style: italic;
}

.absreasoning {
    font-weight: bold;
}

.absString {
    font-style: italic;
}

.aqimpair {
    font-weight: bold;
}

.aqString {
    font-style: italic;
}

.bqimpair {
    font-weight: bold;
}

.bqString {
    font-style: italic;
}

.totalscore {
    font-weight: bold;
}

.totalScoreString {
    font-style: italic;
}

.orientation {
    font-weight: bold;
}

.orientationString {
    font-style: italic;
}

.presidential {
    font-weight: bold;
}

.presidentialString {
    font-style: italic;
}

.naming {
    font-weight: bold;
}

.namingString {
    font-style: italic;
}

.comprehension {
    font-weight: bold;
}

.comprehensionString {
    font-style: italic;
}

.praxis {
    font-weight: bold;
}

.praxisString {
    font-style: italic;
}

.shiftingset {
    font-weight: bold;
}

.shiftingSetString {
    font-style: italic;
}

.incompletepics {
    font-weight: bold;
}

.incompletePicsString {
    font-style: italic;
}

.similarities {
    font-weight: bold;
}

.similaritiesString {
    font-style: italic;
}

.attention {
    font-weight: bold;
}

.attentionString {
    font-style: italic;
}

.memory {
    font-weight: bold;
}

.memoryString {
    font-style: italic;
}

.fingers {
    font-weight: bold;
}

.fingersString {
    font-style: italic;
}

.recall {
    font-weight: bold;
}

.deviationString {
    font-style: italic;
}

.letterfluency {
    font-weight: bold;
}

.letterFluencyString {
    font-style: italic;
}

.categoryfluency {
    font-weight: bold;
}

.categoryFluencyString {
    font-style: italic;
}

.categoryswitching {
    font-weight: bold;
}

.categorySwitchingString {
    font-style: italic;
}

.colornaming {
    font-weight: bold;
}

.colorNamingString {
    font-style: italic;
}

.wordreading {
    font-weight: bold;
}

.wordReadingString {
    font-style: italic;
}

.inhibition {
    font-weight: bold;
}

.inhibitionString {
    font-style: italic;
}

.inhibswitch {
    font-weight: bold;
}

.switchString {
    font-style: italic;
}

.motorcoord {
    font-weight: bold;
}

.motorCoordString {
    font-style: italic;
}